*,
*::after,
*::before {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body {
  color: #222;
  background: #f4f4f4;
  font: 400 14px CoreSans, Arial, sans-serif;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  padding: 10px;
  border-radius: 5px;
  /* outline: none; */
  margin-right: 10px;
  border: 1px solid #ddd;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #ddd;
  color: #808080;
  background-color: transparent;
  cursor: pointer;

}

button:hover {
  color: #222;
}